{% extends "videos/video_upload_base.html" %}
{% load i18n %}

{% block title %} {% trans "Replace Video" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents replace{% endblock body_class %}

{% block head %}
    {% include "geoext/app_header.html" %}
    {{ block.super }}
{% endblock %}

{% block body %}
  <div class="block">
    <div class="col-md-8">
      <h2 class="page-title">{% trans "Replace " %}{{ video.title }}</h2>
      <div id="upload_form">
        <form method="post" enctype="multipart/form-data" action="{% url "video_replace" video.id %}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
          {{ form.errors }}
          {% if video.video_file %}
            {{ form.video_file }}
          {% elif video.video_url %}
            {{ form.video_url }}
          {% endif %}
          <section>
            <button id="clear-button" type="reset" class="btn btn-default">{% trans "Clear" %}</button>
            <button id="upload-button" type="submit" class="btn btn-danger" value="Update">{% trans "Replace Video" %}</button>
          </section>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
