{% extends "geonode_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load guardian_tags %}
{% load pagination_tags %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}videos{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "video_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn btn-primary pull-right">{% trans "Explore Videos" %}</a>
  <h2 class="page-title">{% trans "Upload Videos" %}</h2>
	<p>Allowed video types:</p>
	<p>
	{% for vid in ALLOWED_VIDEO_TYPES %}
		<span class="label label-default">.{{ vid }}</span>
	{% endfor %}
	</p>
</div>
<div class="row">
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
</div>
{% endblock body_outer %}
